{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "semi": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "plugins": ["prettier-plugin-tailwindcss"],

  "jsxSingleQuote": true,
  "quoteProps": "as-needed",

  "embeddedLanguageFormatting": "auto",
  "___printWidth": 80
}
